<section id="section-bestsellers">
  <h1>Meilleures ventes</h1>
  <div id="section-bestsellers-article">
    <article class="section-bestsellers-article">
      <div class="section-bestsellers-article-info">
        <div class="section-bestsellers-article-info-presentation">
          <p>Meilleur vente</p>
          <div id="d1">.</div>

          <h5>Aperçu rapide</h5>
          <!--au passage de la souris il apprait-->
        </div>
        <div class="section-bestsellers-article-info-price">
          <h5>Nom de l'article</h5>
          <p>150,00 &euro;</p>
        </div>
      </div>
    </article>
    <article class="section-bestsellers-article">
      <div class="section-bestsellers-article-info">
        <div class="section-bestsellers-article-info-presentation">
          <p>Meilleur vente</p>
          <div id="d2">.</div>
          <h5>Aperçu rapide</h5>
          <!--au passage de la souris il apprait-->
        </div>
        <div class="section-bestsellers-article-info-price">
          <h5>Nom de l'article</h5>
          <p>150,00 &euro;</p>
        </div>
      </div>
    </article>
    <article class="section-bestsellers-article">
      <div class="section-bestsellers-article-info">
        <div class="section-bestsellers-article-info-presentation">
          <p>Meilleur vente</p>

          <div id="d3">.</div>

          <h5>Aperçu rapide</h5>
          <!--au passage de la souris il apprait-->
        </div>
        <div class="section-bestsellers-article-info-price">
          <h5>Nom de l'article</h5>
          <p>150,00 &euro;</p>
        </div>
      </div>
    </article>
    <article class="section-bestsellers-article">
      <div class="section-bestsellers-article-info">
        <div class="section-bestsellers-article-info-presentation">
          <p>Meilleur vente</p>
          <div id="d4">.</div>
          <h5>Aperçu rapide</h5>
          <!--au passage de la souris il apprait-->
        </div>
        <div class="section-bestsellers-article-info-price">
          <h5>Nom de l'article</h5>
          <p>150,00 &euro;</p>
        </div>
      </div>
    </article>
  </div>
</section>
