<section id="section-bestsellers">
  <h1>Meilleures ventes</h1>
  <div id="section-bestsellers-article">
    <article class="section-bestsellers-article">
      <div class="section-bestsellers-article-info">
        <div class="section-bestsellers-article-info-presentation">
          <p>Meilleur vente</p>
          <img
            src="/assets/images/articles/mobilier/fauteuil/fauteuil_bleu.jpg"
            alt=""
          />
          <h5>Aperçu rapide</h5>
          <!--au passage de la souris il apprait-->
        </div>
        <div class="section-bestsellers-article-info-price">
          <h5>Nom de l'article</h5>
          <p>150,00 &euro;</p>
        </div>
      </div>
    </article>
    <article class="section-bestsellers-article">
      <div class="section-bestsellers-article-info">
        <div class="section-bestsellers-article-info-presentation">
          <p>Meilleur vente</p>
          <img src="/assets/images/articles/tapis/tapis_gris.jpg" alt="" />
          <h5>Aperçu rapide</h5>
          <!--au passage de la souris il apprait-->
        </div>
        <div class="section-bestsellers-article-info-price">
          <h5>Nom de l'article</h5>
          <p>150,00 &euro;</p>
        </div>
      </div>
    </article>
    <article class="section-bestsellers-article">
      <div class="section-bestsellers-article-info">
        <div class="section-bestsellers-article-info-presentation">
          <p>Meilleur vente</p>
          <img
            src="/assets/images/articles/luminaire/luminaire_noir.jpg"
            alt=""
          />
          <h5>Aperçu rapide</h5>
          <!--au passage de la souris il apprait-->
        </div>
        <div class="section-bestsellers-article-info-price">
          <h5>Nom de l'article</h5>
          <p>150,00 &euro;</p>
        </div>
      </div>
    </article>
    <article class="section-bestsellers-article">
      <div class="section-bestsellers-article-info">
        <div class="section-bestsellers-article-info-presentation">
          <p>Meilleur vente</p>
          <img
            src="/assets/images/articles/mobilier/chaise/chaise_blanche.jpg"
            alt=""
          />
          <h5>Aperçu rapide</h5>
          <!--au passage de la souris il apprait-->
        </div>
        <div class="section-bestsellers-article-info-price">
          <h5>Nom de l'article</h5>
          <p>150,00 &euro;</p>
        </div>
      </div>
    </article>
  </div>
</section>
