<div id="header-nav">
  <div id="header-nav-logo">
    <a routerLink="/home" routerLinkActive="active">
      <img src="/assets/images/logo.jpg" alt="Logo JH2M" />
    </a>
  </div>
  <nav id="header-nav-container">
    <!--nav ano + user-->

    <div id="header-nav-container-link" *ngIf="anonymous || user">
      <div>
        <a routerLink="/all" routerLinkActive="active">Tout voir</a>
      </div>
      <div>
        <a routerLink="/deco" routerLinkActive="active">Décoration</a>
      </div>

      <div>
        <a routerLink="/meubles" routerLinkActive="active">Meubles</a>
      </div>
      <div>
        <a routerLink="/electro" routerLinkActive="active">Electromenager</a>
      </div>
      <div>
        <a routerLink="/linges" routerLinkActive="active">Linges</a>
      </div>
      <div>
        <a routerLink="/entretien" routerLinkActive="active">Entretien</a>
      </div>
      <div>
           <a routerLink="/story" routerLinkActive="active">Notre histoire</a>
      </div>
      <div>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
</div>
    <!--nav admin-->
    <div id="header-nav-container-link-admin-supplier" *ngIf="admin">
      <div>
        <a routerLink="/all" routerLinkActive="active">Produits</a>
      </div>
      <div>
        <a routerLink="/supplier" routerLinkActive="active">Fournisseurs</a>
      </div>
      <div>
        <a routerLink="/user-list" routerLinkActive="active">Utilisateurs</a>
      </div>
    </div>
    <!--nav supplier-->
    <div id="header-nav-container-link-admin-supplier" *ngIf="supplier">
      <div>
        <a routerLink="" routerLinkActive="active">Produits</a>
      </div>
      <div>
        <a routerLink="" routerLinkActive="active">Stock</a>
      </div>
      <div>
        <a routerLink="" routerLinkActive="active">Contact</a>
      </div>
    </div>

  </nav>
</div>
