<div id="header-nav">
  <div id="header-nav-logo">
    <a routerLink="/home" routerLinkActive="active">Logo E-shop</a>
  </div>
  <nav id="header-nav-container">
    <div id="header-nav-container-link">
      <div>
        <a *ngIf="anonymous || user" routerLink="" routerLinkActive="active"
          >Tout voir</a
        >
      </div>
      <div>
        <a *ngIf="admin || supplier" routerLink="" routerLinkActive="active"
          >Produits</a
        >
      </div>
      <div>
        <a *ngIf="anonymous || user" routerLink="" routerLinkActive="active"
          >Mobilier</a
        >
      </div>
      <div>
        <a *ngIf="admin" routerLink="" routerLinkActive="active"
          >Fournisseurs</a
        >
      </div>
      <div>
        <a *ngIf="anonymous || user" routerLink="" routerLinkActive="active"
          >Luminaire</a
        >
      </div>
      <div>
        <a *ngIf="anonymous || user" routerLink="" routerLinkActive="active"
          >Tapis</a
        >
      </div>
      <div>
        <a *ngIf="anonymous || user" routerLink="" routerLinkActive="active"
          >A propos</a
        >
      </div>
      <div>
        <a *ngIf="anonymous || user" routerLink="" routerLinkActive="active"
          >Histoires</a
        >
      </div>
      <div>
        <a *ngIf="anonymous || user" routerLink="" routerLinkActive="active"
          >Contact</a
        >
      </div>
    </div>
  </nav>
</div>
