<section id="section-presentation">
  <div id="section-presentation-article">
    <article
      class="section-presentation-article"
      id="section-presentation-article-left"
    >
      <div
        class="section-presentation-article-text"
        id="section-presentation-article-text-left"
      >
        <h5>Sophistiqué et cosy</h5>
        <p>
          Paragraphe. Cliquez ici pour le modifier. Utilisez-le pour vous
          présenter à vos visiteurs.
        </p>
        <a href="a-propos.html">Acheter mobilier</a>
      </div>
      <div class="section-presentation-article-img">
        <img src="/assets/images/articles/presentation/Soft Couch.jpg" alt="" />
      </div>
    </article>
    <article class="section-presentation-article">
      <div class="section-presentation-article-img">
        <img
          src="/assets/images/articles/presentation/Woman Interior.jpg"
          alt=""
        />
      </div>
      <div
        class="section-presentation-article-text"
        id="section-presentation-article-text-right"
      >
        <h5>Visite : l’oasis provençal de Julie Rey</h5>
        <p>
         Voir nos offres
        </p>
        <a href="a-propos.html">Lire l'histoire</a>
      </div>
    </article>
  </div>
</section>
