<section id="section-presentation">
  <div id="section-presentation-article">
    <article
      class="section-presentation-article"
      id="section-presentation-article-left"
    >
      <div
        class="section-presentation-article-text"
        id="section-presentation-article-text-left"
      >
        <h5>Sophistiqué et cosy</h5>
        <p>
          Nous pensons que peu importe ce que nous faisons dans la vie, nous devons toujours essayer
          de faire de notre mieux pour y exceller. Chez JH2M, nous nous efforçons d'être les meilleurs dans les
          tâches quotidiennes ordinaires.

        </p>
        <a routerLink="/story" routerLinkActive="active">Acheter mobilier</a>

      </div>
      <div class="section-presentation-article-img">
        <img src="/assets/images/articles/presentation/Soft Couch.jpg" alt="" />
      </div>
    </article>
    <article class="section-presentation-article">
      <div class="section-presentation-article-img">
        <img
          src="/assets/images/articles/presentation/Woman Interior.jpg"
          alt=""
        />
      </div>
      <div
        class="section-presentation-article-text"
        id="section-presentation-article-text-right"
      >
        <h5>Visite : l’oasis provençal de Julie Rey</h5>
        <p>
          Nous voulons être l’extraordinaire dans l'ordinaire pour vous.
        </p>
        <a routerLink="/story" routerLinkActive="active">Lire l'histoire</a>
      </div>
    </article>
  </div>
</section>
