<div id="header-secondary-nav">
  <div class="header-welcome-nav-link">
    <img src="/assets/images/icones/mobilier.png" alt="" />
    <a href="#">Mobilier</a>
  </div>
  <div class="header-welcome-nav-link">
    <img src="" alt="" />
    <a href="#">Luminaire</a>
  </div>
  <div class="header-welcome-nav-link">
    <img src="" alt="" />
    <a href="#">Tapis</a>
  </div>
  <div class="header-welcome-nav-link">
    <img src="/assets/images/icones/promo.png" alt="" />
    <a href="#">Promo</a>
  </div>
</div>
