<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image"></div>
  <!-- Background image -->

  <div
    id="division-card"
    class="card mx-4 mx-md-5 shadow-4-strong position-relative"
  >
    <div
      id="radius-shape-1"
      class="position-absolute rounded-circle shadow-5-strong"
    ></div>
    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
    <div class="card-body py-5 px-md-5 bg-glass">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Inscription pour professionels</h2>
          <form (ngSubmit)="save()" [formGroup]="form">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <ng-container formGroupName="groupeInfo">
              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline form-group">
                    <input
                      formControlName="company"
                      type="text"
                      class="form-control"
                    />
                    <label class="form-label" for="company"
                      >Nom de l'entreprise
                      <span style="color: red">&#x2A;</span></label
                    >
                    <div
                      *ngIf="
                        form.get('groupeInfo.prenom')?.dirty &&
                        form.get('groupeInfo.prenom')?.invalid
                      "
                      class="alert alert-danger"
                    >
                      probleme entreprise
                    </div>
                  </div>
                </div>
              </div>

              <!-- Password input -->
              <ng-container formGroupName="groupePassword">
                <div class="form-outline mb-4">
                  <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                  />
                  <label class="form-label" for="password"
                    >Mot de passe <span style="color: red">&#x2A;</span></label
                  >
                  <div
                    *ngIf="
                      form.get('groupeInfo.groupePassword.password')?.dirty &&
                      form.get('groupeInfo.groupePassword.password')?.invalid
                    "
                    class="alert alert-danger"
                  >
                    probleme password
                  </div>

                  <input
                    type="password"
                    formControlName="confirmation"
                    class="form-control"
                  />
                  <label for="confirmation"
                    >Confirmation <span style="color: red">&#x2A;</span></label
                  >
                  <div
                    *ngIf="
                      form.get('groupeInfo.groupePassword')?.dirty &&
                      form.get('groupeInfo.groupePassword')?.invalid
                    "
                    class="alert alert-danger"
                  >
                    probleme confirmation
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                formControlName="login"
                type="email"
                class="form-control"
              />
              <label class="form-label" for="login"
                >Email<span style="color: red">&#x2A;</span></label
              >
              <div
                *ngIf="form.get('login')?.dirty && form.get('login')?.invalid"
                class="alert alert-danger"
              >
                probleme email
              </div>
            </div>
            <!-- Submit button -->
            <button
              type="submit"
              [disabled]="form.invalid"
              class="btn btn-primary btn-block mb-4"
            >
              S'inscrire
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
