<style>
  .displayed{
    display: block;
    margin-left: auto;
    margin-right: auto
  }
</style>


      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-17 u-layout-cell-1">
                <div class="u-border-10 u-border-palette-1-base u-container-layout u-valign-middle u-container-layout-1">
                  <h3 class="text-center u-custom-font u-font-playfair-display u-text u-text-1">Story About Us</h3>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-43 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom u-container-layout-2">
                  <p class="text-center u-text-2">En septembre 2022, quatres individus doués d'un sens particulier du business démarrent une formation pour devenir développeur FullStack.
                    AJC leur donne des formateurs de renoms pour accroitre leur compétence. Ainsi naquit le site de JH2M.
                  </p>
                  <img  src="/assets/images/logo.jpg" alt="" class="u-image u-image-default u-image-1 displayed" >
                  <img  src="https://www.ajc-formation.fr/img/logo-ajc-formation.png" alt="" class="u-image u-image-default u-image-1 displayed" >


              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
