<table class="table">
  <thead>
    <tr>
      <th>id:</th>
      <th>company:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplier of suppliersObservable | async">
      <td>{{ supplier.id }}</td>
      <td>{{ supplier.company }}</td>
      <td>
        <a
          routerLink="/admin/supplier/edit/{{ supplier.id }}"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >editer</a
        >
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="delete(supplier.id!)">
          supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>
<a routerLink="/supplier/signup" routerLinkActive="active" class="btn btn-link"
  >nouveau fournisseur</a
>
