
<section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Panier</h1>
                    <h6 class="mb-0 text-muted">{{compteur}} items</h6>
                  </div>

                <span  *ngFor="let p of produits;let i=index" [(ngModel)]="produits" (change)="delete(i)">



                  <div  class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img

                        src="{{p.picture}}"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{p.label}}</h6>

                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">




                      <input id="form1" min="0" name="quantity" value="1" type="number" [(ngModel)]="p.quantity" (change)="changementQuantity(p,i)"
                        class="form-control form-control-sm" />


                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">€ {{p.price! *p.quantity!}}</h6>
                    </div>

                  </div>
                </span >


                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0"><a routerLink="/all"
                      routerLinkActive="active" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                  <div class="pt-5">

                      <h6 class="mb-0 text-muted">Total panier : {{total}}</h6>

                  </div>
                  <div class="pt-5">
                    <h6 class="mb-0"><a routerLink="/user/payement"
                      routerLinkActive="active" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Payer</a></h6>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--<table class="table">
  <thead>
    <tr>
      <th>libelle:</th>
      <th>prix:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of produits">
      <td>{{ p.label}}</td>
      <td>{{ p.price }}</td>
      <td>
        <button (click)="ajouterPanier(p.id!)" class="btn btn-link">
          ajouter au panier
        </button>
      </td>
      <td>{{ getQuantite(p.id!) }}</td>
      <td>
        <button (click)="retirerPanier(p.id!)" class="btn btn-link">
          retirer du panier
        </button>
      </td>
    </tr>
  </tbody>
</table>
<a routerLink="/achat/validation" routerLinkActive="active" class="btn btn-link"
  >valider panier</a
>-->

