/*********BESTSELLERS************/
.checked {
  color: orange;
  display: inline;
}



#section-bestsellers {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-bestsellers h1 {
  width: 100%;
  height: 200px;
  text-align: center;
  font-weight: lighter;
}

#section-bestsellers-article {

  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;

}

.section-bestsellers-article {
  margin-top: 50px;
  width: 700px;

}

.section-bestsellers-article-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.section-bestsellers-article-info-presentation {
  position: relative;
  width: 100%;
  height: 950%;
}

.section-bestsellers-article-info-presentation > p {
  position: absolute;
  background-color: var(--color2);
  color: var(--color1);
  width: 40%;
  text-align: center;
}

.section-bestsellers-article-info-presentation > h5 {
  position: absolute;
  background-color: rgba(25, 25, 25, 0.97);
  color: var(--color1);
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-bestsellers-article-info-presentation > img {
  width: 100%;
   height: 500px;
}

.section-bestsellers-article-info-price {
  width: 100%;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat&display=swap');
.section-bestsellers-article-info-price p,
h5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#e3fabd;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #95cc52;
  width:40%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.myButton:active {
	position:relative;
	top:1px;
}
.wil{
  width:100%;
  display: flex;
  justify-content: space-between;
}
