<div class="container">
  <div class="view-account">
    <section class="module">
      <div class="module-inner">
        <div class="content-panel">
          <div class="billing">
            <div class="secure text-center margin-bottom-md">
              <h3 class="margin-bottom-md text-success">
                <small>Paiement</small>
              </h3>
              <div class="accepted-cards">
                <ul class="list-inline">
                  <li>
                    <img
                      src="https://img.icons8.com/fluency/48/null/visa.png"
                      alt="Visa"
                    />
                  </li>
                  <li>
                    <img
                      src="https://img.icons8.com/color/48/null/mastercard-logo.png"
                      alt="MasterCard"
                    />
                  </li>
                  <li>
                    <img
                      src="https://img.icons8.com/color/48/null/paypal.png"
                      alt="Paypal"
                    />
                  </li>
                </ul>
              </div>
            </div>
            <form
              id="billing"
              class="form-horizontal"
              method="post"
              action="#"
              role="form"
            >
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="col-md-6 control-label"
                    >Titulaire de la carte</label
                  >
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Your name"
                    />
                    <p class="help-block">Comme écrit sur la carte</p>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="col-md-6 control-label"
                    >Numéro de la carte</label
                  >
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="••••  ••••  ••••  •••• "
                      alt="MasterCard"
                    />
                    <p class="help-block">
                      Les 16 digites sur la face de votre carte.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-2 mb-4">
                  <label class="control-label">Date d'expiration</label>
                  <div class="form-inline">
                    <select class="form-control">
                      <option value="01">01</option>
                      <option value="01">02</option>
                      <option value="01">03</option>
                      <option value="01">04</option>
                      <option value="01">05</option>
                      <option value="01">06</option>
                      <option value="01">07</option>
                      <option value="01">08</option>
                      <option value="01">09</option>
                      <option value="01">10</option>
                      <option value="01">11</option>
                      <option value="01">12</option>
                    </select>
                  </div>
                </div>

                <div class="form-group col-md-2 mb-4">
                  <label class="control-label"></label>
                  <div class="form-inline">
                    <select class="form-control">
                      <option value="01">2022</option>
                      <option value="01">2023</option>
                      <option value="01">2024</option>
                      <option value="01">2025</option>
                      <option value="01">2026</option>
                      <option value="01">2027</option>
                      <option value="01">2028</option>
                      <option value="01">2029</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-md-2 mb-4">
                  <label class="col-sm-3 control-label">CVC</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="CVC" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="col-sm-3 control-label">Addresse</label>
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Addresse"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label"></label>
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Ville"
                    />
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label"></label>
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Code Postal"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label"></label>
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Pays"
                    />
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="col-sm-3 control-label"></label>
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Region"
                    />
                  </div>
                </div>
              </div>
              <hr />
              <div class="action-wrapper text-center">
                <div class="action-btn">
                  <button
                    routerLink="/home"
                    routerLinkActive="active"
                    type="button"
                    class="btn btn-primary btn-lg"
                  >
                    Payer
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
