<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div
    class="p-5 bg-image"
    style="background: url(/assets/images/welcome/home2.jpg); height: 300px"
  ></div>
  <!-- Background image -->

  <div
    class="card mx-4 mx-md-5 shadow-4-strong"
    style="
      box-shadow: grey 0px 2px 2px 1px;
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    "
  >
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Inscrivez-vous dès maintenant</h2>

          <form (ngSubmit)="save()" [formGroup]="form">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <ng-container formGroupName="groupeInfo">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline form-group">
                    <input
                      formControlName="prenom"
                      type="text"
                      class="form-control"
                    />
                    <label class="form-label" for="prenom">Prenom</label>
                    <div
                      *ngIf="
                        form.get('groupeInfo.prenom')?.dirty &&
                        form.get('groupeInfo.prenom')?.invalid
                      "
                      class="alert alert-danger"
                    >
                      probleme prenom
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline form-group">
                    <input
                      type="text"
                      formControlName="nom"
                      class="form-control"
                    />
                    <label class="form-label" for="nom">Nom</label>
                    <div
                      *ngIf="
                        form.get('groupeInfo.nom')?.dirty &&
                        form.get('groupeInfo.nom')?.invalid
                      "
                      class="alert alert-danger"
                    >
                      probleme nom
                    </div>
                  </div>
                </div>
              </div>

              <!-- Password input -->
              <ng-container formGroupName="groupePassword">
                <div class="form-outline mb-4">
                  <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                  />
                  <label class="form-label" for="password">Password</label>
                  <div
                    *ngIf="
                      form.get('groupeInfo.groupePassword.password')?.dirty &&
                      form.get('groupeInfo.groupePassword.password')?.invalid
                    "
                    class="alert alert-danger"
                  >
                    probleme password
                  </div>

                  <input
                    type="password"
                    formControlName="confirmation"
                    class="form-control"
                  />
                  <label for="confirmation">Confirmation</label>
                  <div
                    *ngIf="
                      form.get('groupeInfo.groupePassword')?.dirty &&
                      form.get('groupeInfo.groupePassword')?.invalid
                    "
                    class="alert alert-danger"
                  >
                    probleme confirmation
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                formControlName="login"
                type="email"
                class="form-control"
              />
              <label class="form-label" for="login">Email address</label>
              <div
                *ngIf="form.get('login')?.dirty && form.get('login')?.invalid"
                class="alert alert-danger"
              >
                probleme email
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline form-group">
                  <input
                    formControlName="prenom"
                    type="text"
                    class="form-control"
                  />
                  <label class="form-label" for="prenom">Numero</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline form-group">
                  <input
                    type="text"
                    formControlName="nom"
                    class="form-control"
                  />
                  <label class="form-label" for="nom">Rue</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline form-group">
                  <input
                    type="text"
                    formControlName="nom"
                    class="form-control"
                  />
                  <label class="form-label" for="nom">CP</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline form-group">
                  <input
                    type="text"
                    formControlName="nom"
                    class="form-control"
                  />
                  <label class="form-label" for="nom">Ville</label>
                </div>
              </div>
            </div>

            <!-- Submit button -->
            <button
              type="submit"
              [disabled]="form.invalid"
              class="btn btn-primary btn-block mb-4"
            >
              Sign up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
