<section id="section-marques">
  <article id="section-marques-article">
    <div id="section-marques-article-text">
      <h1>Marques et designers</h1>
    </div>
    <div id="section-marques-article-marques">
      <div class="section-marques-article-marques-img">
        <img src="/assets/images/marques/WIX/kimoto.JPG" alt="" />
      </div>
      <div class="section-marques-article-marques-img">
        <img src="/assets/images/marques/WIX/nicholas_barringha.JPG" alt="" />
      </div>
      <div class="section-marques-article-marques-img">
        <img src="/assets/images/marques/WIX/four.JPG" alt="" />
      </div>
      <div class="section-marques-article-marques-img">
        <img src="/assets/images/marques/WIX/studio_native.JPG" alt="" />
      </div>
      <div class="section-marques-article-marques-img">
        <img src="/assets/images/marques/WIX/louisa_morel.JPG" alt="" />
      </div>
    </div>
  </article>
</section>
