<table class="table">
  <thead>
    <tr>
      <th>id:</th>
      <th>Prénom:</th>
      <th>Nom :</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersObservable | async">
      <td>{{ user.id }}</td>
      <td>{{ user.firstname }}</td>
      <td>{{ user.lastname }}</td>
      <td>
       <a
          routerLink="/admin/user-edit/{{ user.id }}"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >editer</a
        >
      </td>
      <td>
        <button
          class="btn btn-outline-danger"
          (click)="delete(user.id!)"
        >
          supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>
<a routerLink="/signup" routerLinkActive="active" class="btn btn-link"
  >nouveau client</a
>
