/**********CONFORT**************/
#section-confort {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-confort-article {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#section-confort-article-text {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
}

#section-confort-article-grid {
  width: 100%;
  height: 920px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  overflow: hidden;
}

#section-confort-article-grid-img1 {
  grid-area: 1 / 1 / 2 / 2;
}
#section-confort-article-grid-img2 {
  grid-area: 1 / 2 / 2 / 3;
}
#section-confort-article-grid-img3 {
  grid-area: 1 / 3 / 2 / 4;
}
#section-confort-article-grid-img4 {
  grid-area: 2 / 3 / 3 / 4;
}
#section-confort-article-grid-img5 {
  grid-area: 3 / 3 / 4 / 4;
}
#section-confort-article-grid-img6 {
  grid-area: 3 / 4 / 4 / 5;
}
#section-confort-article-grid-img7 {
  grid-area: 3 / 5 / 4 / 6;
}
#section-confort-article-grid-img8 {
  grid-area: 3 / 6 / 4 / 7;
}
#section-confort-article-grid-img9 {
  grid-area: 2 / 6 / 3 / 7;
}
#section-confort-article-grid-img10 {
  grid-area: 1 / 6 / 2 / 7;
}
#section-confort-article-grid-img11 {
  grid-area: 2 / 1 / 4 / 3;
}
#section-confort-article-grid-img12 {
  grid-area: 1 / 4 / 3 / 6;
}

#section-confort-article-grid img {
  width: 100%;
}
