<section id="section-confort">
  <article id="section-confort-article">
    <div id="section-confort-article-text">
      <h1>&#35;AprèsMidiChezSoi</h1>
    </div>
    <div id="section-confort-article-grid">
      <div id="section-confort-article-grid-img1">
        <img src="/assets/images/confort/01.jpg" alt="" />
      </div>
      <div id="section-confort-article-grid-img2">
        <img src="/assets/images/confort/02.jpg" alt="" />
      </div>
      <div id="section-confort-article-grid-img3">
        <img src="/assets/images/confort/05.jpg" alt="" />
      </div>
      <div id="section-confort-article-grid-img4">
        <img src="/assets/images/confort/06.jpg" alt="" />
      </div>
      <div id="section-confort-article-grid-img5">
        <img src="/assets/images/confort/04.jpg" alt="" />
      </div>
      <div id="section-confort-article-grid-img6">
        <img src="/assets/images/confort/08.jpg" alt="" />
      </div>
      <div id="section-confort-article-grid-img7">
        <img src="/assets/images/confort/09.jpg" alt="" />
      </div>
      <div id="section-confort-article-grid-img8">
        <img src="/assets/images/confort/10.jpg" alt="" />
      </div>
      <div id="section-confort-article-grid-img9">
        <img src="/assets/images/confort/11.jpg" alt="" />
      </div>
      <div id="section-confort-article-grid-img10">
        <img src="/assets/images/confort/12.jpg" alt="" />
      </div>
      <div id="section-confort-article-grid-img11">
        <img src="/assets/images/confort/03.jpg" alt="" />
      </div>
      <div id="section-confort-article-grid-img12">
        <img src="/assets/images/confort/07.jpg" alt="" />
      </div>
    </div>
  </article>
</section>
